/* основний колір тексту  #434455 */
/* втоичний колір тексту #2E2F42 */ 
/* білий #FFFFFF */
/* акцент #4D5AE5 */ 
/* колір 3 секції #F4F4FD */
/* колір футера і хедера #2E2F42 */
/* колір тексту в футері #E7E9FC */

:root {
 --primary-text-color: #434455;
 --secondary-text-color: #2e2f42;
 --accent-color: #4D5AE5; 
 --primary-bg-color: #ffffff;
 --secondary-bg-color: #F4F4FD;
 --bg-color-foot-head: #2E2F42;
 --text-footer-color: #E7E9FC
 
}

body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    font-family: 'Roboto', 'Raleway', sans-serif;
}

h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
}

.sections {
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.container {
    width: 1158px;
    margin: 0 auto; 
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.points {
    list-style: none;
}

/* header logo */
.logo-link {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--secondary-text-color);
   

}

.logo-link:hover,
.logo-link:focus {
    color: var(--accent-color)
}



/* header nav links */
.head-border {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.header-nav {
    display: flex;
    align-items: center;
    
}

.nav-links {  
    display: flex;
    margin-left: 77px;
    
}

.nav-links :not(:last-child) {
    margin-right: 40px;
}


.nav-list {
    display: block;
    padding: 24px 0px;

    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    color: var(--secondary-text-color);
   

}

.nav-list:hover,
.nav-list:focus {
    color: var(--accent-color);
}

/* header contacts */
.contact {
    display: flex;
    margin-left: auto;
}

.contact :not(:last-child) {
    margin-right: 40px;
}

.contact-links {
    display: block;

    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    color: var(--primary-text-color);
    
}

.contact-links:hover,
.contact-links:focus {
    color: var(--accent-color);
}

/* main hero section */


.hero {
    padding-top: 192px;
    padding-bottom: 192px;
    background-color: var(--bg-color-foot-head);
    text-align: center;
    
}

.hero-title {
    

    font-family: inherit;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

    color: var(--primary-bg-color);
}

/* hero button */
.hero-btn {
    display: inline-block;
    border-radius: 4px;
    padding: 16px 32px;
    margin-top: 48px;
    border: 0px;
    min-width: 170px;
    height: 51px;

    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;

    color: var(--primary-bg-color);
    background-color: var(--accent-color);

    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/* section qualities */


.qualities-list {
    display: flex;
    
}
.qualities-list > .item {
    flex-basis: calc(100% / 4);
}

.qualities-list :not(:last-child) {
    margin-right: 24px;
}



.qualities-list-title {
    

    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
    
}

.qualities-description {
   margin-top: 8px;

    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
    

}

/* section work */

.work {
    padding-top: 0px;
}

.work-title {
    font-family: inherit;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--secondary-text-color);
    
}

.work-gallery {
    display: flex;
    justify-content: space-evenly;
    margin-top: 72px;
}

.work-gallery :not(:last-child) {
    margin-right: 24px;
}

/* section team */
.team {
    background-color: var(--secondary-bg-color);
}

.team-list {
    display: flex;
    align-items: center;
    gap: 24px;

}

.team-item {
    flex-basis: calc((100% - 24px) / 4);
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-box {
    padding: 32px 0px;
}

.team-title {
    margin-bottom: 72px;

    font-family: inherit;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-align: center;
    
}

.team-titles {
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;

    color: var(--secondary-text-color);
    
}

.specialty {
    
    margin-top: 8px;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

    color: inherit;
    
}

/* footer */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: var(--bg-color-foot-head);
}

.footer-adrs {
    margin-bottom: 16px;
}
.logo {
    font-style: normal;
    color: var(--accent-color);
}

.logo-text {
    font-style: normal;
    color: #F4F4FD; 
}

.logo,
.logo-text:hover,
.logo,
.logo-text:focus {
    color: var(--accent-color)
}
.footer-text {
    display: block;
    width: 264px;
    
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-footer-color);

}

/* portfolio main page */


.title-main {
    display: none;
}
.main-filter {
    padding-top: 96px;
    padding-bottom: 120px;
}

.main-title {
    color: var(--secondary-text-color);
    
}

/* filter button */
.main-filter-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    
}

.main-filter-list :not(:last-child) {
    margin-right: 24px;
}


.filter-btn {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: var(--accent-color);
    background-color: var(--secondary-bg-color);

    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    
}


/* section gallery */
/* gallery-text приховааний тимчасово поки ми його не накладаєм на картинку */
.gallery-text {
    display: none;
}

.gallery-list a {
    text-decoration: none;
    cursor: pointer;
    
}
.gallery-list img {
    display: block;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;   
    margin-top: -48px;  
}

.gallery-border {
    border: 0.5px solid #F4F4FD;
    border-top: 0px;
    padding: 32px 16px;
}

.gallery-list > .item {
    flex-basis: calc(100% / 3 - 24px);

    margin-left: 24px;
    margin-top: 48px;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.gallery-title {
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    
}

.gallery-product {
    margin-top: 8px;
   

    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    
}

.gallery-text {
    margin-bottom: 32px;

    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-bg-color);
    
    
}